html,
body,
#root,
.App {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3f3f3f;
    /* line-height: 160%; */
    font-size: 1.05rem;
}

#root > div {
    position: absolute;
    min-height: 100%;
    /* padding-bottom: 100px; */
    display: flex;
    flex-flow: column;
}

h1,
h2,
h3 {
    margin-bottom: 1rem;
}

h1 + h2 {
    margin-top: 1rem;
}

h1:nth-of-type(n + 2) {
    margin-top: 3rem;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    /* line-height: 3rem; */
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2.5rem;
    /* line-height: 2.5rem; */
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    color: #303030;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

hr {
    margin-bottom: 1.2rem;
}

a,
a:hover {
    text-decoration: none;
    font-weight: 500;
    color: #e06c75;
}

::selection {
    background-color: rgba(150, 150, 150, 0.3);
}

code {
    font-family: "Fira Mono", Menlo, Monaco, Consolas, Courier New, monospace;
    font-weight: 400;
}

.navbar-dark {
    padding: 12px 20px;
    background-color: #111122;
}

.splitPage {
    flex: 1;
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 0.8fr;
}

.splitPage a {
    color: #61aeee;
}

.splitPage a:hover {
    color: #218ae0;
}

.splitPageLeft {
    grid-column: 1 / 2;
}

.splitPageRight {
    grid-column: 3 / 4;
}

.splitPageLeft,
.splitPageRight {
    background-color: #f7f7f7;
    padding: 1.25rem 2rem;
}

.splitPageMiddle {
    grid-column: 2 / 3;
    padding: 1.5rem 2.5rem;
}

.splitPageMiddle ul,
.splitPageMiddle li {
    font-weight: 300;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: #111122;
    height: 100px;
    width: 100%;
    display: grid;
}

.footer code {
    margin: auto;
    color: white;
}

.sideNav {
    position: sticky;
    top: 1.25rem;
}

.sideNav ul {
    padding: 0;
}

.sideNav ul,
.sideNav li {
    font-size: 0.8rem;
    list-style: none;
    margin: 0;
    line-height: 210%;
    cursor: pointer;
}

.codeBlock {
    background-color: #111122e0;
    margin: 1rem -2.5rem 1.5rem -2.5rem;
    padding: 1.5rem 2.5rem;
}

.codeBlock + .codeBlock {
    background-color: #111122;
    margin-top: -1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo {
    margin-right: 10px;
}

.footer code a:hover {
    text-decoration: underline;
}

input#sideNavContents {
    display: none;
}

.sideNav label {
    display: none;
}

.sideNavContent {
    max-height: 100%;
}

@media only screen and (max-width: 992px) {
    .splitPage {
        grid-template-columns: 0fr 2fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .sideNav {
        position: static;
        width: 100%;
        margin: 1rem 1.5rem;
    }

    .sideNav li {
        font-size: 0.9rem;
    }

    .sideNav label {
        display: block;
        cursor: pointer;
        margin-bottom: 0;
        color: #e06c75;
    }

    .sideNavContent {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    input:checked ~ .sideNavContent {
        max-height: 100vh;
    }

    .splitPage {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        overflow: hidden;
    }

    .navbar {
        width: 100%;
    }

    .splitPageRight {
        order: 0;
        margin-bottom: 0px;
        padding: 0;
    }

    .splitPageMiddle {
        order: 1;
        padding: 1.5rem 1.2rem;
    }

    .codeBlock {
        margin: 1rem -1.2rem 1.5rem -1.2rem;
        padding: 1.5rem 1.2rem;
    }

    .splitPageLeft {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}
