html,
body,
#root,
.App {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.navbar {
    height: 65px;
    padding: 20px;
}

.splitPage {
    height: 100%;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.splitPageLeft {
    grid-column: 1 2;
    padding: 1rem 1.5rem;
}

.splitPageRight {
    grid-column: 2 3;
    padding: 1.5rem 2rem;
}

.verticalNav {
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    border-left: 2px dotted gray;
}

.verticalNav ul {
    list-style: none;
    padding: 0.125rem 1.75rem;
}

.vNavItem {
    cursor: pointer;
}
